<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0K-33r4KsLES7u5LE5ea2djxtkB8oe8g</string>
	<key>GCM_SENDER_ID</key>
	<string>663910274651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.student.system.dev</string>
	<key>PROJECT_ID</key>
	<string>studentmanagement-84e63</string>
	<key>STORAGE_BUCKET</key>
	<string>studentmanagement-84e63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663910274651:ios:72a243d722b00f57d9517e</string>
</dict>
</plist>